<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931594052343-m53fon53dlhdh6klf2439ddokbeb92ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931594052343-m53fon53dlhdh6klf2439ddokbeb92ts</string>
	<key>API_KEY</key>
	<string>AIzaSyDbyVfyBY6clBhl8Of0yoHqpjz1UAju1l4</string>
	<key>GCM_SENDER_ID</key>
	<string>931594052343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upvisayas.bullet.bullet</string>
	<key>PROJECT_ID</key>
	<string>bullet-upvisayas</string>
	<key>STORAGE_BUCKET</key>
	<string>bullet-upvisayas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931594052343:ios:7c660f9fc57f0a853129f2</string>
</dict>
</plist>